#AboutMe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100vw;
}
#AboutMe-subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 10px;
}
#AboutMe-Image{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 5px solid #e6f9f7;
    margin-right: 50px;
}
#AboutMe-Text{
    margin: auto;
}
#AboutMe-Facts{
    font-size: 20px;
}
.Fact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Fact>p{
    margin-right: 15px;
}