#AboutMe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#AboutMe-subcontainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#AboutMe-Image{
    margin: 40px;
}
#AboutMe-Text{
    margin: auto;
}