#NameAnim-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 00px;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
}
.container{
    display: inline-block;
    max-width: 80%;
}
.text{
    font-size:5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(15),
        cursor .4s step-end infinite alternate;
} 
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
}
#NameAnim-degree{
    font-size: 25px;
    color: hsla(174, 61%, 94%, 0.46);
    font-weight: 500;
}
#NameAnim-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.NameAnim-link-items{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#Resume-button{
    background-color: rgba(91, 91, 212, 0);
    border-color: #e6f9f7;
    color: #e6f9f7;
    border: solid;
    font-family: monospace;
    font-size: 32px;
    border-radius: 32px;
    align-items: center;
    height: 64px;
    width: 256px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
#Resume-button:hover{
    background-color: hsla(174, 61%, 94%, 0.189);
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}
.arrows{
    margin: 0px;
    padding: 0px
}
.arrowText{
    margin: 0;
    animation: blink 1.5s infinite;
    font-family: monospace;
    font-size: 50px;
    font-weight: 100;
    color: #e6f9f7;
    margin: 0px;
    padding: 0;
}
.arrowText:hover{
    cursor: default;
}
@keyframes blink {
    0%, 100%{
        opacity: 1;
    }50%{
        opacity: 0;
    }
}
@media (max-width: 600px) {
    .text{
        font-size: 2.7em;
        letter-spacing: 4px;
        width: 80vw;
    }
    #Resume-button{
        width: 200px;
        font-size: 25px;
        height: 50px;
    }
    #NameAnim-degree{
        font-size: 20px;
        width: 80vw;
    }
    .arrowText{
        font-size: 30px;
    }
}
@media (min-width: 600px) and (max-width:800px){
    .text{
        font-size: 4em;
        letter-spacing: 4px;
    }
    #Resume-button{
        width: 230px;
        font-size: 25px;
        height: 55px;
    }
    #NameAnim-degree{
        font-size:22px;
    }
    .arrowText{
        font-size:40px;
    }
}