#NameAnim-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#NameAnim-name{
    font-size: 80px;
    margin-bottom: 0px;
}
#NameAnim-degree{
    font-size: 20px;
    color: hsla(174, 61%, 94%, 0.46);
    font-weight: 300;
}
#NameAnim-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.NameAnim-link-items{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#Resume-button{
    background-color: rgb(91, 91, 212);
}